h1
{
  text-align: center;
  color: teal
}
li
{
  display: inline;
  border: 1px solid pink;
  padding: 15px;
}
.myLink
{
  text-decoration: none;
}
.myLink:hover
{
  background-color: peru;
}
h2
{
 text-align: center;
 color: brown;
}